<form class="form-horizontal" role="form">
  <div class="nested-fields">
    <%= f.input :time %>
    <%= f.input :description %>
    <%= link_to_remove_association "Remove Event", f %>
  </div>
</form>  