<div class="container">
  <div class="well">
  <h1>About Us : Split Dodge Tours</h1>
    <p>Where to start? Founded by a guy who likes lacrosse, whose kid's play lacrosse, and wanted to organize trips to watch pro games. </p>
  </div>
</div>