<% content_for :title, "Split Dodge Tours: About Us" %>
<% content_for :description, "Who organizes the trips for lacrosse enthusiast from Salt Lake to Denver" %>
<div class="container" id="about">
  
  
  <div class= "col-md-3 col-sm-3 col-xs-6  pull-left clearfix">
    <div class="container">
       <%=render partial: "picture_carousel"  %> 
    </div>
  </div>
  
  <div class="col-md-6 col-xs-12">
    
  <h1>About Us : Split Dodge Tours</h1>
  <%= image_tag('joe_200_x_200.jpg', class: "img-responsive, col-md-4") %>
    <p class=""> Joe Prudden is an Architect by day and a lacrosse coach/enthusiast by night. Joe was one of the early pioneers of the Judge Memorial HS LAX program, no he did not use a wooden head, then played at the University of Utah. Joe is the founder of Split Dodge Tours because he loves the game and wanted to share his passion with others and sneak into professional games for free. 

He coaches for the EAST youth and is on the youth board, supporting his son and daughters obsession with lacrosse. He hopes that you enjoy your experience allowing you to spend time with your family and friends while enjoying the highest level of Lacrosse competition coupled with a unique lacrosse experience!!</p>
  <p> Marty Wescott has been an elite LAX player since he was out of diapers. Instead of a stuffed animal he snuggled with a LAX stick. In HS he won the Mr. Hustle award, not because of lacrosse!! He was all conference in college and a captain at BYU for 3 years. He is the proud father of a LAX player and runs the Advantage teams and is also director of the GULL, now ALL-UT.  

He has been head coach at the U and BYU so he plays both sides and is the current coach of the 2 time state champs and 6 time conference champs Bountiful HS Braves. In his spare time... well he has no spare time. </p>
  </div>
  <div class=" col-md-5 col-xs-12 pull-left seperator_line">
    <h3>Join us on a trip!</h3>
    <p>Tours are conducted by a variety of tour guides suplemented by others as needed. </p>
    
     <h4 id="warning" class="link_outline">Note: Not all items listed are guaranteed and are contingent on each unique tour.</h4>
  </div>

</div>