<% content_for :title, "Split Dodge Tours: About Us" %>
<% content_for :description, "Who organizes the trips for lacrosse enthusiast from Salt Lake to Denver" %>
<div class="container" id="about">
  
  
  <div class= "col-md-3 col-sm-3 col-xs-6  pull-left clearfix">
    <div class="container">
       <%=render partial: "picture_carousel"  %> 
    </div>
  </div>
  
  <div class="col-md-6 col-xs-12">
    
  <h1>About Us : Split Dodge Tours</h1>
  <%= image_tag('joe_200_x_200.jpg', class: "img-responsive, col-md-4") %>
    <p class=""> Joe Prudden is an architect by day and a lacrosse coach/enthusiast by night. Joe played LAX at Judge Memorial and at the University of Utah. Joe is the founder of Split Dodge Tours because he loves the game and wanted to share his passion with others. He coaches for the EAST youth and is on the youth board. He hopes that you enjoy your experience allowing you to spend time with your children while enjoying a unique lacrosse experience!!</p>
  </div>
  <div class=" col-md-5 col-xs-12 pull-left seperator_line">
    <h3>Join us on a trip!</h3>
    <p>Tours are conducted by a variety of tour guides suplemented by others as needed. </p>
    
     <h4 id="warning" class="link_outline">Note: Not all items listed are guaranteed and are contingent on each unique tour.</h4>
  </div>

</div>