<div id="bus">
  <div class="container">
    <div class="col-md-3 hidden-xs hidden-sm">
     <p><%= image_tag ('SplitDodge_logo_only.png') %></p><br>
      
      <p><%= image_tag ('bus_tall.jpg') %></p>
    </div>
    <div class="col-md-6 col-xs-12 " id="bus-main">
      <p><%= image_tag 'SplitDodge_logo_text_only.png', alt: 'Split Dodge Tours Salt Lake City UT' %> <p><br>

      <h1>Split Dodge Tours : Fun Bus Activities</h1>
      <p>Denver's a bit of a drive, with us the fun starts before we even leave Salt Lake City!</p>
      <ul>
        <li>Lacrosse bingo with professional team players and numbers</li>
        <li>Prize raffles for lacrosse gear</li>
        <li>Interactive lacrosse based games</li>
        <li>Crooked Arrow movie</li>
        <li>Lacrosse game NLL, MLL, and NCAA</li>
        <li>Lacrosse swag giveaways</li>
        <li>Lacrosse 101 instruction</li>
        <li>Head stringing demo's</li>
        <li>Coaching Instruction</li>
        <li>Game play instruction</li>
        <li>Team bonding</li>
      </ul>
    </div>
     <h4 id="warning">Note: Not all items listed are guaranteed and are contingent on each unique tour.</h4>
  </div>
</div>