<div id="bus">
  <div class="container">
    <div class="col-xs-7 well" id="bus-main">
      
      <h1>Split Dodge Fun Bus Activities</h1>
      <ul>
        <li>Lacrosse bingo with professional team players and numbers</li>
        <li>Prize raffles for lacrosse gear</li>
        <li>Interactive lacrosse based games</li>
        <li>Crooked Arrow movie</li>
        <li>Lacrosse game NLL, MLL, and NCAA</li>
        <li>Lacrosse swag giveaways</li>
        <li>Lacrosse 101 instruction</li>
        <li>Head stringing demo's</li>
        <li>Coaching Instruction</li>
        <li>Game play instruction</li>
        <li>Team bonding</li>
      </ul>
    </div>
    <div class="col-xs-4 pull-right well">
     <h2>Crooked Arrows</h2>
     <!-- <iframe width="560" height="315" src="//www.youtube.com/embed/Oc87-tvPIdk?list=UUU6BiHcvw0ToWNrpD18A6TQ" frameborder="0" allowfullscreen></iframe> -->
    </div>
    <div class="col-xs-4 pull-right well">
      <h2>Some more activities here</h2>
    </div>
  </div>
</div>