<h1>StaticPages#bus</h1>
<p>Find me in app/views/static_pages/bus.html.erb</p>
<div class="container">
  <div class="col-xs-8 well">
    Bus travel info and stop schedule here.
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="col-xs-4 pull-right well">
    activities on the way there
  </div>
  <div class="col-xs-4 pull-right well">
    activities on the way back
  </div>
</div>