<% content_for :title, 'Split Dodge Tours Lacrosse Fun Bus' %>
<% content_for :description, 'Lacrosse fun bus from Salt Lake City to Denver' %>
<div id="bus" class="container">
    
  
  <div class= "col-md-3 col-sm-3 col-xs-6  pull-left clearfix">
    <div class="container">
       <%=render partial: "picture_carousel"  %> 
    </div>
  </div>
    <div class="col-md-6 col-xs-12 " id="bus-main">
      
      <h1 id="home_h1" class="page-header"> Fun Bus Activities</h1>
      <p>Denver's a bit of a drive, with us the fun starts before we even leave Salt Lake City!</p>
      <ul>
        <li>Lacrosse bingo with professional team players and numbers</li><br>
        <li>Prize raffles for lacrosse gear</li><br>
        <li>Interactive lacrosse based games</li><br>
        <li>Crooked Arrow movie</li><br>
        <li>Lacrosse game NLL, MLL, and NCAA</li><br>
        <li>Lacrosse swag giveaways</li><br>
        <li>Lacrosse 101 instruction</li><br>
        <li>Head stringing demo's</li><br>
        <li>Coaching Instruction</li><br>
        <li>Game play instruction</li><br>
        <li>Team bonding</li><br>

      </ul>
    </div>

  
</div>