<div id="bus" class="container">
    
  
  <div class= "col-md-3 col-sm-3 col-xs-6  pull-left clearfix">
    <div class="container">
       <%=render partial: "picture_carousel"  %> 
    </div>
  </div>
    <div class="col-md-6 col-xs-12 " id="bus-main">
      
      <h1>Split Dodge Tours : Fun Bus Activities</h1>
      <p>Denver's a bit of a drive, with us the fun starts before we even leave Salt Lake City!</p>
      <ul>
        <li>Lacrosse bingo with professional team players and numbers</li>
        <li>Prize raffles for lacrosse gear</li>
        <li>Interactive lacrosse based games</li>
        <li>Crooked Arrow movie</li>
        <li>Lacrosse game NLL, MLL, and NCAA</li>
        <li>Lacrosse swag giveaways</li>
        <li>Lacrosse 101 instruction</li>
        <li>Head stringing demo's</li>
        <li>Coaching Instruction</li>
        <li>Game play instruction</li>
        <li>Team bonding</li>

      </ul>
    </div>

  
</div>