<div class="container">
  <div class="well">
    <h1>Email Options</h1>
    <p>I usually put in a form that can be filled out and sent back without having to open the user's email client.</p>
  </div>
</div>