<div class="container" id="contact">
  <div class="col-md-3 hidden-xs hidden-sm">
      <p><%= image_tag ('SplitDodge_Logo_2_big.png') %> </p>
      <p><%= image_tag ('2-stadium-bw-w-color.png') %></p>
    </div>

  <div class="well col-md-8 col-xs-12">
    <h1>Email Options</h1>
    <p>I usually put in a form that can be filled out and sent back without having to open the user's email client.</p>
    
  </div>
</div>