<div class="container" id="contact">
  <div class="col-md-3 hidden-xs hidden-sm">
      <p><%= image_tag ('SplitDodge_logo_only.png') %></p><br>
      <p><%= image_tag ('2-stadium-bw-w-color.png') %></p>
    </div>

  <div class=" col-md-6 col-xs-12">
    <p><%= image_tag 'SplitDodge_logo_text_only.png', alt: 'Split Dodge Tours Salt Lake City UT' %> <p><br>
   
    
  </div>
</div>