<div class="jumbotron">
  <div class="container">
    <h1>Lacrosse Tours!</h1>
    <p>stuff here</p>
  </div>
</div>
<div class="jumbotron">
  <div class="container">
    <h4>Scheduled Tours</h4>
    <ul>
      <li>January 18-19: Colorado Mammoth vs. Buffalo Bandits in Denver CO </li>
    </ul>
    <h4>Tour Dates to be scheduled, <%= link_to "Email with questions", contact_path %></h4>
    <ul>
      <li>February 1-2 Colorado Mammoth vs Minnesota Swarm</li>
      <li>March 1-2  Colorado Mammoth vs. Rochester Knight Hawks</li>
      <li>March 24-25 Colorado Mammoth vs. Philadelphia Wings</li>
      <li>March ?? Denver University schedule not currently out.</li>
      <li>April-August Colorado Outlaws schedule not currently out.</li>
    </ul>
  </div>
</div>

