<% content_for :title, 'Split Dodge Tours Trip Itinerary' %>
<% content_for :description, 'Stops with the fun bus intinerary in Denver' %>
<div class="container" id="itinerary">
 
  
  <div class= "col-md-3 col-sm-3 col-xs-6  pull-left clearfix">
    <div class="container">
       <%=render partial: "picture_carousel"  %> 
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    <div >
      
      <h1>Itinerary</h1>
      <ul>
        <li>Lacrosse <%= link_to "fun bus", bus_path, class: 'link_outline', rel: 'canonical' %> transport to and from SLC</li>
        <li>Retail lacrosse store tour and unique shopping experience</li>
        <li>Harrow equipment manufacture facility tour and silk screening demonstration</li>
        <li>Private autograph sessions</li>
        <li>VIP treatment at stadium</li>
        <li>Watch professional game from premium seating</li>
        <li>Accomodations close to the stadium and many downtown attractions.</li>
        <li>Player Clinics</li>
        <li>3 Star Hotel</li>
      </ul>
      <h4>Specific itinerary will be provided for each unique tour</h4>
      <h4 id="warning" class="link_outline">Note: Not all items listed are guaranteed and are contingent on each unique tour.</h4>
    </div>
  </div>
</div>
