<div class="container" id="itinerary">
 
  <div class="col-xs-12 container">
    <%= image_tag ('SplitDodge_logo_only.png'), class: 'col-xs-3' %>
    <%= image_tag 'SplitDodge_logo_text_only.png', alt: 'Split Dodge Tours Salt Lake City UT', class: 'col-xs-6' %>
  </div>
  <br>
  <div class= "col-md-3 col-sm-3 col-xs-6 hidden-xs hidden-sm pull-left clearfix">
    <div class="container">
       <%=render partial: "picture_carousel"  %> 
    </div>
  </div>

  <div class="col-md-6 col-xs-12">
    <div >
      
      <h1>Itinerary</h1>
      <ul>
        <li>Lacrosse "fun bus" transport to and from SLC</li>
        <li>Retail lacrosse store tour and unique shopping experience</li>
        <li>Harrow equipment manufacture facility tour and silk screening demonstration</li>
        <li>Private autograph sessions</li>
        <li>VIP treatment at stadium</li>
        <li>Watch professional game from premium seating</li>
        <li>Accomodations close to the stadium and many downtown attractions.</li>
      </ul>
      <h4>Specific itinerary will be provided for each unique tour</h4>
      <h4 id="warning">Note: Not all items listed are guaranteed and are contingent on each unique tour.</h4>
    </div>
  </div>
</div>
