<% content_for :title, 'Split Dodge Tours Pricing' %>
<% content_for :description, 'Prices for our fun bus lacrosse trips' %>
<div class="container" id="pricing">
  
  <div class= "col-md-3 col-sm-3 col-xs-6  pull-left clearfix">
    <div class="container">
       <%=render partial: "picture_carousel"  %> 
    </div>
  </div>


  <div class=" col-md-6 col-xs-12">
    
    <h1 class="page-header" id="home_h1">Pricing Info</h1>
    
      <p>$330 per individual based on double occupancy. For full inclusions see <%= link_to "tour itineraries", itinerary_path, class: 'link_outline', rel: 'canonical' %></p>
      <br>
      <ul class="seperator_line">
        <li>Tours are all inclusive with the exception of meals (one dinner will be provided on game night). Driver or tour guide gratuity.</li>
        <li>Fundraising group rates or 10% donations to youth team or group, email or call to enquire</li>
        <li>Full bus reservations (58 seats available) email or call to enquire</li>
      </ul>
    
     <h4 id="warning" class="link_outline">Note: Not all items listed are guaranteed and are contingent on each unique tour.</h4>
  </div>
</div>
