<div class="container" id="pricing">
  <div class="col-xs-12 container">
    <%= image_tag ('SplitDodge_logo_only.png'), class: 'col-xs-3' %>
    <%= image_tag 'SplitDodge_logo_text_only.png', alt: 'Split Dodge Tours Salt Lake City UT', class: 'col-xs-6' %>
  </div>
  <br>
  <div class= "col-md-3 col-sm-3 col-xs-6 hidden-xs hidden-sm pull-left clearfix">
    <div class="container">
       <%=render partial: "picture_carousel"  %> 
    </div>
  </div>


  <div class=" col-md-6 col-xs-12">
    
    <h1>Pricing Info</h1>
    <ul>
      <li>$320 per individual based on double occupancy. For full inclusions see <%= link_to "tour itineraries", itinerary_path %></li>
      <ul>
        <li>Tours are all inclusive with the exception of meals (one dinner will be provided on game night). Driver or tour guide gratuity.</li>
        <li>Fundraising group rates or 10% donations to youth team or group, email or call to enquire</li>
        <li>Full bus reservations (58 seats available) email or call to enquire</li>
      </ul>
    </ul>
     <h4 id="warning">Note: Not all items listed are guaranteed and are contingent on each unique tour.</h4>
  </div>
</div>
