<div class="container" id="pricing">
  <div class="col-md-3 hidden-xs hidden-sm">
      <p><%= image_tag ('SplitDodge_Logo_2_big.png') %></p>
      <p><%= image_tag ('bus_tall.jpg') %></p>
  </div>


  <div class="well col-md-8 col-xs-12 well">
    <h1>Pricing Info</h1>
    <ul>
      <li>$320 per individual based on double occupancy. For full inclusions see <%= link_to "tour itineraries", itinerary_path %></li>
      <ul>
        <li>Tours are all inclusive with the exception of meals (one dinner will be provided on game night). Driver or tour guide gratuity.</li>
        <li>Fundraising group rates or 10% donations to youth team or group, email or call to enquire</li>
        <li>Full bus reservations (58 seats available) email or call to enquire</li>
      </ul>
    </ul>
  </div>
</div>
