<div id="home" class="sign_up">
 
 
  <div class= "col-md-3 col-sm-3 col-xs-6 pull-left clearfix">
    <div class="container">
       <%=render partial: "picture_carousel"  %> 
    </div>
  </div>
  <div id="right-content">  
    <div class="col-md-6 col-xs-12 ">
    
    
        
  </div>
  

    
  
</div>
