<div id="home" class="sign_up">
 
  <div class="col-xs-12 container">
    <%= image_tag ('SplitDodge_logo_only.png'), class: 'col-xs-3' %>
    <%= image_tag 'SplitDodge_logo_text_only.png', alt: 'Split Dodge Tours Salt Lake City UT', class: 'col-xs-6' %>
  </div>
  <br>
  <div class= "col-md-3 col-sm-3 col-xs-6 pull-left clearfix">
    <div class="container">
       <%=render partial: "picture_carousel"  %> 
    </div>
  </div>
  <div id="right-content">  
    <div class="col-md-6 col-xs-12 ">
    
    
        
  </div>
  

    
  
</div>
