
<div class="container">
  <div class="well">
    <h1>Pictures of the stadium a possibility here</h1>
    <%= link_to('Mile High Stadium Tours', 'http://www.sportsauthorityfieldatmilehigh.com/stadium-information/tour-the-stadium') %>
  </div>
</div>