
<div class="container">
  <div class="well">
    <h1>Pictures of the stadium a possibility here</h1>
    <%= link_to('Mile High Stadium Tours', 'http://www.sportsauthorityfieldatmilehigh.com/stadium-information/tour-the-stadium') %>
  </div>
  <div class="well">
    <h3>Stadium</h3>
    <ul>
      <li>Player autograph sessions</li>
      <li>Player meet and greet</li>
      <li>Team tunnel at game opening, on field</li>
      <li>VIP dining with view of player warmups and pre-game routine</li>
      <li>Premium seating for game</li>
      <li>On field clinics</li>
      <li>Access to field</li>
    </ul>
    <h4>Note: Not all items listed are guaranteed and are contingent on each tour.</h4>
  </div>
</div>