
<div class="container" id="stadium">
  <div class="col-xs-12 container">
    <%= image_tag ('SplitDodge_logo_only.png'), class: 'col-xs-3' %>
    <%= image_tag 'SplitDodge_logo_text_only.png', alt: 'Split Dodge Tours Salt Lake City UT', class: 'col-xs-6' %>
  </div>
  <br>
  <div class= "col-md-3 col-sm-3 col-xs-6  pull-left clearfix">
    <div class="container">
       <%=render partial: "picture_carousel"  %> 
    </div>
  </div>
  <div class="col-md-6 col-xs-12">
    
    <h1>Stadium Events : Split Dodge Tours</h1>
    
  </div>
  <div class="col-md-8 col-xs-12 ">
    <h3>Stadium</h3>
    <ul>
      <li>Player autograph sessions</li>
      <li>Player meet and greet</li>
      <li>Team tunnel at game opening, on field</li>
      <li>VIP dining with view of player warmups and pre-game routine</li>
      <li>Premium seating for game</li>
      <li>On field clinics</li>
      <li>Access to field</li>
    </ul>
    <h4 id="warning">Note: Not all items listed are guaranteed and are contingent on each tour.</h4>
  </div>
</div>