
<div class="container" id="stadium">
  <div class="col-md-3 hidden-xs hidden-sm">
      <p><%= image_tag ('SplitDodge_Logo_2_big.png') %> </p>
      <p><%= image_tag ('2-stadium-bw-w-color.png') %></p>
    </div>
  <div class="col-md-8 col-xs-12">
    <h1>Mile High Stadium : Split Dodge Tours</h1>
    
  </div>
  <div class="col-md-8 col-xs-12 ">
    <h3>Stadium</h3>
    <ul>
      <li>Player autograph sessions</li>
      <li>Player meet and greet</li>
      <li>Team tunnel at game opening, on field</li>
      <li>VIP dining with view of player warmups and pre-game routine</li>
      <li>Premium seating for game</li>
      <li>On field clinics</li>
      <li>Access to field</li>
    </ul>
    <h4 id="warning">Note: Not all items listed are guaranteed and are contingent on each tour.</h4>
  </div>
</div>