<div class="container" id="tour">
   <div class="col-md-3 hidden-xs hidden-sm">
      <p><%= image_tag ('SplitDodge_Logo_2_big.png') %> </p>
      <p><%= image_tag ('2-stadium-bw-w-color.png') %></p>
    </div>

  <div class="col-md-8 col-xs-12 ">
    <h1>Factory Tours & Lacrosse Store</h1>
    <div class=" well">
      <h4>Harrow Sports</h4>
    </div>
    <div class=" well">
      <h4>Another factory here</h4>
    </div>
    <div class=" well">
      <h4>Another tour here</h4>
    </div>
    <div class=" well">
      <h4>Can't for forget <%= link_to('Casa Bonita', 'http://www.casabonitadenver.com/') %></h4>
    </div>
  </div>  
</div>
