<div class="container" id="tour">
   <div class="col-md-3 hidden-xs hidden-sm">
      <p><%= image_tag ('SplitDodge_logo_only.png') %></p><br>
      <p><%= image_tag ("side_bw_w_color.jpg") %></p>
    </div>

  <div class="col-md-6 col-xs-12 ">
    <p><%= image_tag 'SplitDodge_logo_text_only.png', alt: 'Split Dodge Tours Salt Lake City UT' %> <p><br>
    <h1>Factory Tours & Lacrosse Store</h1>
    <div class=" ">
      <h4>Harrow Sports</h4>
      <p>Factory and store, manufacturer of lacrossse equipment from beginner to pro. Screen print demo and tour of factory.</p>
    </div>
    
    <div class=" ">
      <h4>LAXWorld Store</h4>
      <p>One stop shop for the most popular lacrosse brands on the market today. </p>
    </div>
     <h4 id="warning">Note: Not all items listed are guaranteed and are contingent on each unique tour.</h4>
  </div>  
</div>
