<div class="container">
  <h1>Factory Tours</h1>
  <div class="col-xs-5 well pull-left">
    <h4>A factory here</h4>
  </div>
  <div class="col-xs-5 well pull-right">
    <h4>Another factory here</h4>
  </div>
  <div class="col-xs-5 well pull-left">
    <h4>Another tour here</h4>
  </div>
  <div class="col-xs-5 well pull-right">
    <h4>Can't for forget <%= link_to('Casa Bonita', 'http://www.casabonitadenver.com/') %></h4>
  </div>
</div>
