<div class="container" id="tour">
   <div class="col-md-3 hidden-xs hidden-sm">
      <p><%= image_tag ('SplitDodge_logo_only.png') %></p><br>
      <p><%= image_tag ("side_bw_w_color.jpg") %></p>
    </div>

  <div class="col-md-6 col-xs-12 ">
    <p><%= image_tag 'SplitDodge_logo_text_only.png', alt: 'Split Dodge Tours Salt Lake City UT' %> <p><br>
    <h1>Factory Tours & Lacrosse Store</h1>
    <div class=" ">
      <h4>Harrow Sports</h4>
    </div>
    <div class=" ">
      <h4>Another factory here</h4>
    </div>
    <div class=" ">
      <h4>Another tour here</h4>
    </div>
    <div class=" ">
      <h4>Can't for forget <%= link_to('Casa Bonita', 'http://www.casabonitadenver.com/') %></h4>
    </div>
  </div>  
</div>
