// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top:5em;
  font-family: droid-sans, sans-serif;
  font-size:16px;
  background-image: url('textured_paper.png');
 

}

//blanket container for all pages. be careful what goes here.
.carousel .carousel-control {
  visibility: hidden;

}
@media (max-width: 480px) {  
  #myCarousel{
    div{
      img{
        width:100%;
        height:20em;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) { 
  #myCarousel{
    .item{
      img{
        width:100%;
        height:25em;
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) { 
  #myCarousel{
    .item{
      img{
        width:100%;
        height:30em;
      }
    }
  }
 }
@media (min-width: 1200px) { 
  #myCarousel{
    .item{
      img{
        width:100%;
        height:35em;
      }
    }
  }
 }
 .left-column {
  float:left;
  clear:left;
 }
#right-content {
  float:right;
}
#footer {
  padding-top: 3em;
  padding-bottom: 1em;
  text-align: center;
}
#myCarousel {
}
#logo {
  img{
    width:100%;
  }
}
.btn-signup {
  background-color:#6497CB;
  -moz-border-radius: 15px;
  border-radius:15px;
  font-size: 1.2em;
}
.container{
  ul{
    li{
      list-style: none;
    }
  }
}
#bus {
}
#home{ 
}
#itinerary {
  
}
#pricing {
  
}
#stadium{
  
}
#tour {
  
}
#about{

}
#contact{
  
}
#warning {
  font-size: 75%;
  color:red;
}
// #navigation {
//   width:80%;
//   float:right;
// }