// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top:5em;
  font-family: droid-sans, sans-serif;
  font-size:16px;
  background-image: url('textured_paper.png');
}
//blanket container for all pages. be careful what goes here.
.container{
  ul{
    li{
      list-style: none;
    }
  }
}

#bus {
  img {
    width:100%;
  }
  #bus-main{
    // background-image: image-url("bus_tall.jpg");
    // background-repeat:no-repeat;
  }
}
#home{
  div {

    div {
      img {
        width:100%;
      }
    }
  }
}
#itinerary {
  img{
    width: 100%;
  }
}
#pricing {
  img{
    width:100%;
  }
}
#stadium{
  img{
    width:100%;
  }
}
#tour {
  img{
    width:100%;
  }
}
#about{
  img{
    width:100%;
  }
}
#contact{
  img {
    width:100%;
  }
}
#warning {
  font-size: 75%;
  color:red;
}
// #navigation {
//   width:80%;
//   float:right;
// }